<div id="main">
      <img src="/assets/main-img.jpg" />
    </div>
    <%= render 'shared/ranking' %>
    <div id="article_wrap">
        <div id="article_list">
            <%= render @articles %>
        </div> 
        
        <div class="clear"></div>    
    </div> 
